<section class="about" id="about">
  <div class="about-container">
    <div class="about-photo">
      <div class="photo-container">
        <img src="img/my4.png" alt="Vadim Cebanu" class="profile-img">
      </div>
    </div>

    <div class="about-content">
      <div class="title-wrapper">
        <div class="title-line"></div>
        <h2 class="section-title">{{ 'about.title' | translate }}</h2>
        <div class="title-line"></div>
      </div>

      <div class="intro-text">
        <p class="greeting">{{ 'about.greeting' | translate }}</p>
        <p class="description">
          {{ 'about.description' | translate }}
        </p>
      </div>

      <div class="features">
        <div class="feature-item">
          <div class="icon">
            <img src="img/Property 1=Location g.svg" alt="Location">
          </div>
          <p>{{ 'about.feature1' | translate }}</p>
        </div>

        <div class="feature-item">
          <div class="icon">
            <img src="img/Vector.svg" alt="Learning">
          </div>
          <p>{{ 'about.feature2' | translate }}</p>
        </div>

        <div class="feature-item">
          <div class="icon">
            <img src="img/Property 1=Hover G.png" alt="Problem solving">
          </div>
          <p>{{ 'about.feature3' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-glow"></div>
</section>
